/* Переменные */

:root{

    /* Типографика*/

    --tiny-text: 24px;
    --small-text:32px;
    --medium-text:48px;
    --large-text:72px;

    /* Цвета */

    --aqua-color:#30B7BB;
    --light-aqua-color:#A6E8EA;
    --gray-color:#D9D9D9;
}

/* ОБЩИЕ СТИЛИ */

*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
/* div{
    border: 1px solid red;
}
form{
    border: 1px solid red;
} */
.main-content{
    width: 100%;
    padding: clamp(5px, 5vw, 40px);
}
.chapter {
    margin-bottom: 20vh;
}

a{
    color: black;
    font-weight: 400;
    text-decoration: none;
}

h4{
    font-size: var(--medium-text);
}

select, option{
    font-family: Arial, Helvetica, sans-serif;
}

/* -------ГЛАВНАЯ СТРАНИЦА -- MAIN PAGE ------- */

/* ШАПКА САЙТА */

.header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.header__logo h4{
    font-size: var(--medium-text);
    margin: 0px;
    color: var(--aqua-color);
}

.nav_links{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.nav_links li{
    font-size: var(--tiny-text);
}

.nav_links li a:not(.active_link):hover{
    color: var(--aqua-color);
}

.active_link{
    font-weight:900;
}

/* БАННЕР */

.banner {
    width: 100%;
    background-color: var(--aqua-color);
    border-radius: 2rem;
    height: 40vh;
}

.banner__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__content h1 {
    font-size: var(--large-text);
    text-align: center;
}

/* ОТЗЫВЫ */

.feedbacks{
    margin: 0;
}

.feedbacks h2{
    font-size: var(--medium-text);
    margin: 0 0 5vh 0;
}

.feedbacks__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5vw;
}

.feedback {
    width: 47%;
    border-radius: 1.5rem;
    background-color: var(--light-aqua-color);
    padding: 1rem;
}

.feedback p{
    font-size: var(--tiny-text);
    max-height: 60px;
    line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feedback__logo {
    display: flex;
    justify-content: space-between;
}

.feedback__logo h4{
    font-size: var(--small-text);
    margin: 0;
}

.rating p{
    font-size: var(--small-text);
    margin: 0;
}


/* Подвал */

.footer {
    width: 100%;
    background-color: var(--gray-color);
}
.footer__content {
    width: 100%;
    padding: 0 2vw 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

}
.footer__logo {
    font-size: var(--medium-text);
    margin: 10px 0 0 0;
    color: var(--aqua-color);
}
.footer__logo h4{
    margin: 0 0 10px 0;
}
.copyright {
    background-color: var(--aqua-color);
    border-radius: 0.8rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    padding: 0.2rem;
}

/* -------РЕГИСТРАЦИЯ--REGISTRATION------- */


/* Ссылка на главную страницу */

.main-page__link{
    padding-left: clamp(2px, 1vw, 10px);
}

.main-page__link a:hover{
    color: var(--aqua-color);
}

/* Окно регистрации */

.registration, .authorization {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration__content, .authorization__content{
    width: 40vw;
    height: fit-content;
    background-color: var(--gray-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(4px, 1vh, 20px);
}

#registration_form{
    min-height: 60%;
    max-height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8vh;
}

/* Блок input (все input в форме) */

.input-container{
    padding: 1vw;
    background-color: var(--aqua-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1vh;
}

/* Группа input + label */

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group input{
    border-radius: 1rem;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: clamp(2px, 1vw, 30px);
    font-size: var(--tiny-text);

}

.input-group label:not(.password__description){
    margin-top: 5px;
    color: red;
    font-size: var(--tiny-text);
}

/* Правило для label (описание пароля) */

.password__description{
    color: var(--gray-color);
    font-size: 1rem;
    margin-top: 2px;
}

/* Группа для двух маленьких input (Фамилия и Имя) */

.input-group-2 {

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-group-2__container {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.input-group-2__container input {
    border-radius: 1rem;
    border: none;
    padding: clamp(2px, 1vw, 15px);
    font-size: var(--tiny-text);
}

.input-group-2__container label {
    color: red;
    font-size: var(--tiny-text);
}

/* Кнопка "Зарегистрироваться" */

#registration_submit{
    padding: clamp(2px, 1vw, 15px);
    background-color: var(--aqua-color);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 1rem;
    font-size: var(--small-text);
}

/* -------АВТОРИЗАЦИЯ--AUTHORIZATION------- */

#registration_form label{
    color: red;
    font-size: var(--tiny-text);
}


/* -------СОЗДАТЬ ЗАЯВКУ--CREATE ORDER------- */


#create_orders{
    width: 100%;
    padding: 0 clamp(30px, 10vw, 500px);
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order__input-container {
    display: flex;
    justify-content: space-around;
    margin: 1vw;
}
.order__input-container-2 {
    display: flex;
    flex-direction: column;
}
.order__input-container-2 input:not(#custom_type_check), textarea{
    border: 1px solid black;
    border-radius: 1rem;
    padding: clamp(2px, 1vw, 15px);
    min-width: 30vw;
    max-width: 50vw;
}
.order__input-container-2 select {
    border: 1px solid black;
    border-radius: 1rem;
    padding: clamp(2px, 1vw, 15px);
    min-width: 30vw;
    max-width: 30vw;
}    

#custom-type__text{
    height: 20vh;
    display: block;
    visibility: hidden;
}

#payment_card, #payment_cash{
    display: none;
}

.payment_container{
    display: flex;
    width: 50%;
    padding: 0 5% 0 5%;
    gap: 1vw;
}

.payment-label{
    width: 10vw;
    border: 5px solid black;
    border-radius: 1rem;
    padding: clamp(2px, 1vw, 15px);
}

.order__input-container-2 input[type='radio']:checked + label{
    border: 5px solid var(--aqua-color);
}

#order-submit{
    padding: clamp(2px, 1vw, 15px);
    border: none;
    background-color: var(--aqua-color);
    border-radius: 1rem;
}

.order_submit{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1vw 0 1vw 0;
}